doctype html
html(lang="en")
  head
    title= pageTitle
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    script(src="https://code.highcharts.com/stock/highstock.js")
    script(src="https://code.highcharts.com/stock/modules/exporting.js")
    link(rel="stylesheet" href="http://www.w3schools.com/lib/w3.css")
    link(rel="stylesheet" href="css/ts.css")

    //-My scripts
    script.
      var container = '#' + "container";
    script(src="/js/RTTransformerChart.js")
    script(src="/js/TransformerChart.js")
    script(src="/js/TCConrol.js")
    script(src="/js/MultipleChart.js")
    script(src="/js/chart_builder.js")

  body(class="w3-grey")
    div(class="" id="container")
