doctype html
html(lang="en")
  head
    title= pageTitle
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    script(src="https://code.highcharts.com/stock/highstock.js")
    script(src="https://code.highcharts.com/stock/modules/exporting.js")
    script(src="/socket.io/socket.io.js")
    link(rel="stylesheet" href="http://www.w3schools.com/lib/w3.css")
    link(rel="stylesheet" href="../css/ts.css")
    link(rel="stylesheet" href="../css/switch.css")


    script.
      //-main program
      var transformerDescription = JSON.parse('!{transfDesc}');
      $(function () {
        var charts = new RTMultipleChart("#container");
      });

    //-My scripts
    script(src="/js/definitions.js")
    script(src="/js/realtime/DataProvider.js")
    script(src="/js/realtime/RTCControl.js")
    script(src="/js/realtime/RTTransformerChart.js")
    script(src="/js/realtime/RTMultipleChart.js")

  body(class="w3-grey")
    div(class="" id="container")
