html
  head
    title Operater - dodavanje
  link(rel="stylesheet" href="http://www.w3schools.com/lib/w3.css")
  body
    div(class="w3-display-container w3-light-grey" style="height:100%")
      div(class="w3-padding w3-display-middle w3-light-grey")
        div(class="w3-container w3-blue-grey")
          h2 Operator - dodavanje
        form(class="w3-container w3-border" action="" method="POST")
          p
            label(class="w3-label") Ime
            input(class="w3-input w3-border" name="username" type="text" value="")
          p

            label(class="w3-label") Šifra
            br
            input(class="w3-input w3-border" name="password" type="text" value="")
          p
            button(class="w3-btn w3-blue-grey") Registruj
            a(class="w3-text-blue w3-right" href="/") Nazad
