doctype html
html(lang="en" style="height:100%")
  head
    title= Kontrola
    link(rel="stylesheet" href="http://www.w3schools.com/lib/w3.css")
  body(style="height:100%")
    div(class="w3-display-container w3-green w3-light-grey" style="height:100%")
      div(class="w3-container w3-display-middle w3-border w3-grey" style="width:300px")
        a(class="w3-btn w3-brown w3-margin-top" href="/monitoring/history" style="width:100%") Pregled istorije merenja
        a(class="w3-btn w3-brown w3-margin-top" href="/monitoring/real_time" style="width:100%") Praćenje u realnom vremenu
        a(class="w3-btn w3-brown w3-margin-top w3-margin-bottom" href="/monitoring/login-config" style="width:100%") Promeni šifru za prijavljivanje
        a(class="w3-btn w3-brown w3-margin-top w3-margin-bottom" href="/logout" style="width:100%") Odjava
