html
  head
    title Transformatori
  link(rel="stylesheet" href="http://www.w3schools.com/lib/w3.css")
  body
    div(class="w3-row")
      div(class="w3-col w3-third") &nbsp
      div(class="w3-col w3-third")
        div(class="w3-container w3-blue-grey")
          h2 Šifra za prijavljivanje
        form(class="w3-container w3-border" action="/monitoring/login-config" method="POST")
          input(class="w3-input w3-border" name="oldusername" type="hidden" value="" )
          p
            label(class="w3-label") Stara šifra
            br
            input(class="w3-input w3-border" name="old_password" type="password" value="")
          p
            label(class="w3-label") Nova šifra
            br
            input(class="w3-input w3-border" name="new_password" type="password" value="")
          p
            p(class="w3-text-red") #{errorMsg}
          p
            button(class="w3-btn w3-blue-grey") Izmeni
            a(class="w3-text-blue w3-right" href="/director") Nazad
      div(class="w3-col w3-third") &nbsp