html
  head
    title Operater - izmena
  link(rel="stylesheet" href="http://www.w3schools.com/lib/w3.css")
  body
    div(class="w3-row")
      div(class="w3-col w3-third") &nbsp
      div(class="w3-col w3-third")
        div(class="w3-container w3-blue-grey")
          h2 Operater
        form(class="w3-container w3-border" action="/director/operator/edit" method="POST")
          input(class="w3-input w3-border" name="oldusername" type="hidden" value="" + operator.NAME)
          p
            label(class="w3-label") Ime
            input(class="w3-input w3-border" name="username" type="text" value="" + operator.NAME)
          p
            label(class="w3-label") Postavi novu šifru
            br
            input(class="w3-input w3-border" name="password" type="password" value="" + operator.PASSWORD)
          p
            button(class="w3-btn w3-blue-grey") Izmeni
            a(class="w3-text-blue w3-right" href="/director/operator/list") Nazad
      div(class="w3-col w3-third") &nbsp