doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet" href="http://www.w3schools.com/lib/w3.css")
  body
    div(class="w3-row")
      div(class="w3-col s6")
        a(href="/director/transformer/list") Lista transformatora
      div(class="w3-col s6").
        Druga polovina
