html
  head
    title Transformatori
    link(rel="stylesheet" href="http://www.w3schools.com/lib/w3.css")
  body
    div(class="w3-panel w3-red")
      h3 Došlo je do greške
      p Vaša prethodna akcija možda nije izvršena.
      p Detalji o grešci: #{errMsg}
    a(class="w3-text-blue" href="/") Početna strana
