html
  head
    title Trafo stanice
    link(rel="stylesheet" href="http://www.w3schools.com/lib/w3.css")
  body
    ul(class="w3-ul w3-border w3-half w3-margin w3-light-grey")
      li
        h2 Lista transformatora
      - for (var i = 0; i < transformers.length; i++) {
        li(id='row-'+i )
          p(class="w3-margin-0")
            span Lokacija:
            span(style="font-weight:bold")  #{transformers[i].ADDRESS}
            p(class="w3-margin-0")
              span Nadgledanje:
              span(style="font-weight:bold")  #{transformers[i].MONITORING}
            p(class="w3-margin-0")
              span Status:
              span(style="font-weight:bold")  #{transformers[i].DESCRIPTION}
            a(class="w3-text-blue" href="/director/transformers/edit/"+transformers[i].LOCATION_ID) Izmeni
      - }
