html
  head
    title Dodaj transformatora
  body
    div(class="w3-container w3-brown")
      h2 Dodaj novi transformatora
      form(class="w3-container w3-border" action="/director/transformer_edit" method="POST")
        p
          label(class="w3-label w3-text-blue") Lokacija
          input(class="w3-input w3-border" name="trafo_address" type="text" value="" + username)
        p
          input(class="w3-check" type="checkbox" checked="checked") Dozvoli nadgledanje
        p
          button(class="w3-btn w3-blue-grey") Da
