doctype html
html(lang="en" style="height:100%")
  head
    title= Kontrola
    link(rel="stylesheet" href="http://www.w3schools.com/lib/w3.css")
  body(style="height:100%")
    div(class="w3-row")
      div(class="w3-col w3-quarter") &nbsp
      div(class="w3-col w3-quarter w3-padding w3-margin-top w3-grey") 
        a(class="w3-btn w3-brown w3-margin-top" href="/director/transformer/create" style="width:100%") Dodaj transformator
        a(class="w3-btn w3-brown w3-margin-top" href="/director/operator/create" style="width:100%") Dodaj operatera
        a(class="w3-btn w3-brown w3-margin-top w3-margin-bottom" href="/director/login-config" style="width:100%") Podesi prijavljivanje
      div(class="w3-col w3-quarter w3-padding w3-margin-top w3-grey")
        a(class="w3-btn w3-brown w3-margin-top" href="/director/transformer/list" style="width:100%") Lista transformatora
        a(class="w3-btn w3-brown w3-margin-top" href="/director/operator/list" style="width:100%")  Lista operatera
        a(class="w3-btn w3-brown w3-margin-top w3-margin-bottom" href="/logout" style="width:100%")  Odjavi se
      div(class="w3-col w3-quarter") &nbsp

